@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Open+Sans&family=Raleway:wght@200&family=Roboto+Slab:wght@200&family=Source+Serif+Pro:wght@300&family=Twinkle+Star&display=swap');
body{
    background-color: lightgrey;
}
#wholepos{
    margin-left: 225px;
    margin-top: 120px;
}
#join{
    color:rgb(24, 165, 165);
    font-weight: 1000;
    margin-bottom: 27px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;;
}
#whitecolumn{
    background-color: white;
    padding-left:44px;
    width: 654px;
    margin-top: 54px;
    margin-left: 110px;
    margin-bottom:-15px;
    height:203px;
    border-radius: 5.9px;
    padding-top: 23px;

}
#has30{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.1px;
    font-weight: 800;
    color:rgb(172, 214, 88);
}
.talks{
    color: grey;
    opacity: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 680;
}
#secondtalk{
    margin-top: -5px;
}
.white{
    color: white;
}
#darkgreencolumnleft{
    background-color:rgb(0, 123, 139);
    border-radius: 5.9px;
    margin-top: 0px;
    margin-left: 110px;
    width: 295px;
    height: 273px;
    padding-left: 44px;
}
#signin{
    background-color:rgb(23, 201, 32);
    width: 150px;
    border-radius: 4px;
    margin-left: -18px;
    margin-bottom: 32px;
    height: 25px;
    margin-top:42px;
    padding-left: 92px;
    padding-top: 13px;
    padding-bottom:5px;
    border:0.3px solid black;
}
#pm{
    margin-top: -60px;
    margin-left: 60px;
    opacity:12%;
    color:white;
}
#am{
   font-size: 32px;
}
#ms{
    padding-top: 32px;
}
#anothertalk{
    color: white;
    margin-top: 30  px;
    opacity: 58%;
}
#lastcolumn{
    background-color:rgb(40, 155, 170);
    width: 359px;
    margin-left: 449px;
    margin-top: -295px;
    border-radius:5.9px;
    height: 273px;
}
.columnth{
    color: white;
    opacity:57%;
}
.columnth,#wu{
    padding-left:58px;
}
#fl{
    padding-left:55px;
    padding-top:5px;
    color: white;
    opacity:57%;
}
#wu{
    font-size:22px;
    letter-spacing: 1.2px;
    margin-bottom:-11px;
    color: white;
    filter: brightness(11%);
    padding-top: 32px;
}
#sl,#tl,#fol,#fil,#sil,#sel,#el{
    margin-top:-12px;
}
@media  screen and (max-width:600px) {
    #whitecolumn{
        background-color: black;
    }
}